<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lite.flow.executor.dao.ExecutorContainerMapper">

	<sql id="fields">
		id AS id,
		name AS name,
		field_config AS fieldConfig,
		class_name AS className,
		description AS description,
		user_id AS userId,
		status AS status,
		create_time AS createTime,
		update_time AS updateTime
	</sql>
	<sql id="where_sql">
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test="nameLike != null and nameLike  != ''">
				AND name like CONCAT('%', #{nameLike}, '%')
			</if>
		</where>
	</sql>
	<sql id="table">
		lf_executor_container
	</sql>
	  
	<select id="getById" resultType="ExecutorContainer">
		select
			<include refid="fields"/>
			from  
			<include refid="table"/>
		where id=#{0}
	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into
		<include refid="table"/>(
		name,
		field_config,
		class_name,
		user_id,
		status,
		create_time)
		value(
		#{name},
		#{fieldConfig},
		#{className},
		#{userId},
		#{status},
		#{createTime})
	</insert>
	<select id="findList" resultType="ExecutorContainer">
		select 
			<include refid="fields"/>
		from 
			<include refid="table"/> 
		<include refid="where_sql"/>
		<if test="orderByOperation != null">
			<foreach collection="orderByOperation.itemOperators" item="opr" separator="," open="order by ">
	           		${opr.column} ${opr.operator} 
	         </foreach>
		</if>
		<if test="page != null">
			limit #{page.offset},#{page.limit}
		</if>
	</select>
	<select id="count" resultType="int">
		select count(*) from 
			<include refid="table"/> 
		<include refid="where_sql"/>
	</select>
	<select id="getByName" resultType="ExecutorContainer">
		SELECT
			<include refid="fields"/>
		FROM
			<include refid="table"/>
		WHERE name = #{name}
	</select>
	<update id="update">
		UPDATE
		<include refid="table"/>
		<set>
			<if test="fieldConfig != null">
				field_config = #{fieldConfig},
			</if>
			<if test="className != null">
				class_name = #{className},
			</if>
			<if test="status != null">
			  	status = #{status},
			</if>
			<if test="description != null">
				description = #{description}
			</if>
		</set>
		WHERE id = #{id}
	</update>
</mapper>